extends ./layouts/header.pug
block header

    section 
      div(class="banner-principal")
        a(href="#")
          div(class="contenedor-imagen")
            img(src="img/fotasa.jpg" alt="Foto Principal Producto Kuala Accesorios")
            p(class="texto-imagen") Titulo 
      div(class="banner-secundario")
        div(class="columna contenedor-imagen")
          a(href="#")
            img(src="img/fotasa.jpg" alt="Foto Secundaria Producto Kuala Accesorios")
            p(class="texto-imagen texto-imagen-secundario") Titulo <!-- Aclarar maximo de caracteres para que no se salga del ancho -->
        
        div(class="columna contenedor-imagen")
          a(href="#")
            img(src="img/fotasa.jpg" alt="Foto Secundaria Producto Kuala Accesorios")
            p(class="texto-imagen texto-imagen-secundario") Titulo <!-- Aclarar maximo de caracteres para que no se salga del ancho -->
        
        div(class="columna contenedor-imagen")
          a(href="#")
            img(src="img/fotasa.jpg" alt="Foto Secundaria Producto Kuala Accesorios")
            p(class="texto-imagen texto-imagen-secundario") Titulo <!-- Aclarar maximo de caracteres para que no se salga del ancho -->
        
        div(class="columna contenedor-imagen")
          a(href="#")
            img(src="img/fotasa.jpg" alt="Foto Secundaria Producto Kuala Accesorios")
            p(class="texto-imagen texto-imagen-secundario") Titulo <!-- Aclarar maximo de caracteres para que no se salga del ancho -->
        
    section(class="contenedor")

      div(class="titulo-seccion")
        h3 Titulo Seccion 
        a(href="#") Ver Todo 

      div(class="tarjetas-seccion flex-space-between")
        div(class="tarjeta")
          div(class="contenedor-imagen-tarjeta")
            a(href="#")
              img(class="imagen-tarjeta" src="img/foto.jpg" alt="")
            div(class="botones-tarjeta")
              button(class="boton-tarjeta")
                i(class="fas fa-shopping-cart")
              button(class="boton-tarjeta")
                i(class="far fa-eye")
          a(href="#")
            h4(class="titulo-producto-tarjeta") Titulo Tituloso
            p(class="precio-producto-tarjeta") $ 12.345

        div(class="tarjeta")
          div(class="contenedor-imagen-tarjeta")
            a(href="#")
              img(class="imagen-tarjeta" src="img/foto.jpg" alt="")
            div(class="botones-tarjeta")
              button(class="boton-tarjeta")
                i(class="fas fa-shopping-cart")
              button(class="boton-tarjeta")
                i(class="far fa-eye")
          a(href="#")
            h4(class="titulo-producto-tarjeta") Titulo Tituloso
            p(class="precio-producto-tarjeta") $ 12.345

        div(class="tarjeta")
          div(class="contenedor-imagen-tarjeta")
            a(href="#")
              img(class="imagen-tarjeta" src="img/foto.jpg" alt="")
            div(class="botones-tarjeta")
              button(class="boton-tarjeta")
                i(class="fas fa-shopping-cart")
              button(class="boton-tarjeta")
                i(class="far fa-eye")
          a(href="#")
            h4(class="titulo-producto-tarjeta") Titulo Tituloso
            p(class="precio-producto-tarjeta") $ 12.345

        div(class="tarjeta")
          div(class="contenedor-imagen-tarjeta")
            a(href="#")
              img(class="imagen-tarjeta" src="img/foto.jpg" alt="")
            div(class="botones-tarjeta")
              button(class="boton-tarjeta")
                i(class="fas fa-shopping-cart")
              button(class="boton-tarjeta")
                i(class="far fa-eye")
          a(href="#")
            h4(class="titulo-producto-tarjeta") Titulo Tituloso
            p(class="precio-producto-tarjeta") $ 12.345
            
      div(class="titulo-seccion titulo-seccion-inferior")
        a(href="#") Ver Todo 

    section 
      div(class="banner-principal")
        a(href="#")
          div(class="contenedor-imagen") 
            img(src="img/foto.jpg" alt="Foto Principal Producto Kuala Accesorios")
            p(class="texto-imagen-banner") Titulo
    
    section(class="contenedor")

      div(class="titulo-seccion")
        h3 Titulo Seccion 
        a(href="#") Ver Todo 

      div(class="tarjetas-seccion flex-space-between")
        div(class="tarjeta")
          div(class="contenedor-imagen-tarjeta")
            a(href="#")
              img(class="imagen-tarjeta" src="img/foto.jpg" alt="")
            div(class="botones-tarjeta")
              button(class="boton-tarjeta")
                i(class="fas fa-shopping-cart")
              button(class="boton-tarjeta")
                i(class="far fa-eye")
          a(href="#")
            h4(class="titulo-producto-tarjeta") Titulo Tituloso
            p(class="precio-producto-tarjeta") $ 12.345

        div(class="tarjeta")
          div(class="contenedor-imagen-tarjeta")
            a(href="#")
              img(class="imagen-tarjeta" src="img/foto.jpg" alt="")
            div(class="botones-tarjeta")
              button(class="boton-tarjeta")
                i(class="fas fa-shopping-cart")
              button(class="boton-tarjeta")
                i(class="far fa-eye")
          a(href="#")
            h4(class="titulo-producto-tarjeta") Titulo Tituloso
            p(class="precio-producto-tarjeta") $ 12.345

        div(class="tarjeta")
          div(class="contenedor-imagen-tarjeta")
            a(href="#")
              img(class="imagen-tarjeta" src="img/foto.jpg" alt="")
            div(class="botones-tarjeta")
              button(class="boton-tarjeta")
                i(class="fas fa-shopping-cart")
              button(class="boton-tarjeta")
                i(class="far fa-eye")
          a(href="#")
            h4(class="titulo-producto-tarjeta") Titulo Tituloso
            p(class="precio-producto-tarjeta") $ 12.345

        div(class="tarjeta")
          div(class="contenedor-imagen-tarjeta")
            a(href="#")
              img(class="imagen-tarjeta" src="img/foto.jpg" alt="")
            div(class="botones-tarjeta")
              button(class="boton-tarjeta")
                i(class="fas fa-shopping-cart")
              button(class="boton-tarjeta")
                i(class="far fa-eye")
          a(href="#")
            h4(class="titulo-producto-tarjeta") Titulo Tituloso
            p(class="precio-producto-tarjeta") $ 12.345
            
      div(class="titulo-seccion titulo-seccion-inferior")
        a(href="#") Ver Todo 

    section 
      div(class="info-banner")
        p ¡Contacta Con Nosotros!

    footer(class="footer")
      div(class="flex-container-footer flex-space-around contenedor")
        div(class="flex-columna footer-info")

        div(class="flex-columna footer-info")
          div(class="footer-info-secciones")
            h3 Ubicación 
            div(class="flex-container") 
              i(class="fas fa-map-marked-alt")
              a(href="#") Avenida 9 de Julio 1146 Lanus Buenos Aires
          div(class="flex-columna kuala-info")
            a(href="#") sobre nosotros
            a(href="#") preguntas frecuentes
            a(href="#") defensa del consumidor